* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Stylish", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(120deg, #D8E8F2, #ffffff, #D8E8F2);
  color: #111;
  line-height: 1.6;
}

.navbar {
  background-color: #98a6ad;
  padding: 12px 0;
  margin: 12px;
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 8px;
  font-size: 1.8rem;
}
.nav-container {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 0 auto;
}
.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 400;
  transition: color 0.3s ease;
}
.nav-links a:hover,
.nav-links a.active {
  color: #ffffff;
}

.project-header {
  text-align: center;
  padding: 3rem 2rem;
  /* padding: 2rem 0rem; */
}
.project-header h1 {
  font-size: 3.8rem;
  margin-bottom: 0.5rem;
}
.project-header p {
  color: #444;
  max-width: 75%;
  margin: 0 auto;
  font-size: 3rem;
}
.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1250px, 1fr));
  gap: 30px;
  padding: 0 10% 60px;
}
.project-card {
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
}
.project-card img {
  width: 80%;
  height: auto;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,10);
}
.project-card h3 {
  color: #222;
  font-size: 3rem;
}
.project-card p {
  color: #555;
  padding: 0 20px 20px;
  font-size: 23px;
  cursor: pointer;
}
.project-card:hover {
  transform: translateY(-5px);
}

/* Responsive */
@media (max-width: 768px) {
/* .nav-container{
  justify-content: center;
} */
  .navbar {
    padding: 0.5rem;
    font-size: 1.2rem;
  }


  .project-header h1 {
    font-size: 1.8rem;
  }
  .project-header p {
    font-size: 1rem;
  }
  .project-list {
    grid-template-columns: 1fr;
    padding: 0 8% 40px;
  }
    .project-card h3 {
    color: #222;
    font-size: 1.6rem;
  }
  .project-card p {
    color: #222;
    font-size: 1.2rem;
  }
}
