* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(150deg, #100530, #4b3b90);
    
}

.part1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2.5vh;
    padding: 38vh 10vw 38vh 10vw;
}

.left-content {
    justify-content: center;

    img{
        width: 290px;
        border-radius: 50%;
    }
}

.right-content {
    margin-left: 50px;
    color: white;
    letter-spacing: 2px;
    h2{
        font-size: 4.3rem;
    }
    p{
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    button{
        width: 538px;
        height: 70px;
        border-radius: 10px;
        cursor: pointer;
        background: linear-gradient(120deg, #61B5FF, #D76E9A);
        font-family: "Jersey 20", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
        color: white;
        text-shadow: black;
        border: none;
        transition: transform 0.3s ease;
    }
    button:hover{
        transform: scale(1.1);
    }
}

.part2{
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2.5vh;
    padding: 10vh 10vw 35vh 10vw;

    h2 {
        font-size: 3.7rem;
    }

    p{
        font-size: 2.5rem;
    }
}

.part3 {
    color: white;
    text-align: center;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2.5vh;
    padding: 10vh 10vw 10vh 10vw;
    background-color: rgba(11, 11, 11, 0.5);
    border-radius: 25px;

    h2{
        font-size: 3.7rem;
        margin-bottom: 20px;
        margin-top: 35px;
    }
}

.left-skill, .right-skill{
    margin-left: 5vw;
    margin-right: 5vw;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    margin-top: 25px;
    svg, img {
        width: 60px;
        height: 60px;
        object-fit: contain;
        margin-bottom: 0.5rem;
    }
    p{
        font-size: 2rem;
    }
}

.part4{
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2.5vh;
    padding: 10vh 10vw 10vh 10vw;
    h2{
        font-size: 3.7rem;
    }
    button {
        width: 30vw;
        height: 4vh;
        border-radius: 10px;
        background: linear-gradient(120deg, #61B5FF, #D76E9A);
        margin: 25px;
        transition: transform 0.3s ease;
        font-family: "Jersey 20", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
        color: white;
        text-shadow: black;
        border: none;
        cursor: pointer;
    }
    button:hover{
        transform: scale(1.05);
    }
}

.projects-display{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1.5rem;
    justify-items: center;
    align-items: center;
    padding: 2rem;
    img{
        width: 100%;
        height: auto;
        border-radius: 20px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    img:hover {
        transform: scale(1.05);
    }
}

.part5 {
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 0%;
    border-radius: 50% 50% 0px 0px;
    padding: 10vh 10vw 10vh 10vw;
    background-color: rgb(11, 11, 11, 0.5);

    h2, p {
        margin-top: 10px;
        margin-bottom: 10px;
    }


    h2{
        font-size: 3rem;
    }

    p{
        font-size: 2rem;
    }

}

@media (max-width: 768px) {
    .part4 button{
        margin-top: 0%;
        width: 40vw;
        height: 4.5vh;
        font-size: 1.5rem;
    }
    .part4, .part3, .part2, .part1 h2{
        font-size: 3rem;
    }
    .part2 p{
        font-size: 2rem;
    }
}