@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: black;
    text-shadow: -2px 2px 5px #000;
}

.liquid-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; 
}

/* ===== PART 1 ===== */

.part1 {
  position: relative;
  width: 100%;
  height: 100vh; 
  margin: 2.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1; 
  width: 100%;
  padding: 5vh 5vw 5vh 5vw;
  border-radius: 3%;
}

.left-content img {
    width: 150px;
    border-radius: 50%;
}

.right-content {
    margin-left: 50px;
    color: white;
    letter-spacing: 2px;
}

.right-content h2 {
    font-size: 3rem;
    text-shadow: black;
}

.right-content p {
    font-size: 1.8rem;
    text-shadow: black;
}

.right-content button {
    width: 500px;
    max-width: 100%;
    height: 55px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;    border: none;
    transition: transform 0.3s ease;
    margin-top: 20px;
    background: #ffffff;
    color: black;
    

}

.right-content button:hover {
    transform: scale(1.1);
}

/* ===== PART 2 ===== */
.part2 {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2.5vh;
    padding: 20vh 10vw 20vh 10vw;
}

.part2 h2 {
    font-size: 3rem;
    text-shadow: black;
}

.part2 p {
    font-size: 1.8rem;
    text-shadow: black;
}

/* ===== PART 3 ===== */
.part3 {
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2.5vh;
    padding: 10vh 10vw 10vh 10vw;
}

.part3 h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    margin-top: 35px;
}

.left-skill,
.right-skill {
    margin-left: 5vw;
    margin-right: 5vw;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1.5rem;
    justify-items: center;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    margin-top: 25px;
}

.skill svg,
.skill img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 0.5rem;
}

.skill p {
    font-size: 2rem;
}

/* ===== PART 4 ===== */
.part4 {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 2.5vh;
    padding: 10vh 10vw 10vh 10vw;
}

.part4 h2 {
    font-size: 3rem;
}

.part4 button {
    /* width: 30vw;
    height: 6vh; */
    padding: 2vh 10vw 2vh 10vw;
    border-radius: 10px;
    background: white;
    margin: 25px;
    transition: transform 0.3s ease;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: black;
    text-shadow: black;
    border: none;
    cursor: pointer;
}

.part4 button:hover {
    transform: scale(1.05);
}

/* ===== PROJECTS DISPLAY ===== */
.projects-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1.5rem;
    justify-items: center;
    align-items: center;
    padding: 2rem;
}

.projects-display img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.projects-display img:hover {
    transform: scale(1.05);
}

/* ===== PART 5 ===== */
.part5 {
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 0%;
    border-radius: 50% 50% 0px 0px;
    padding: 10vh 10vw 10vh 10vw;
    background-color: black;
}

.part5 h2,
.part5 p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.part5 h2 {
    font-size: 3rem;
}

.part5 p {
    font-size: 2rem;
}

/* ===== MEDIA QUERY MOBILE ===== */
@media (max-width: 768px) {
    body {
        font-size: 90%;
    }

    /* PART 1 */
    .part1 {
        flex-direction: column;
        padding: 10vh 5vw;
        align-items: center;
        margin: 0vh;
    }

    .right-content {
        margin-left: 0;
        text-align: center;
    }

    .right-content h2 {
        font-size: 2rem;
    }

    .right-content p {
        font-size: 1.4rem;
    }

    .right-content button {
        width: 80%;
        height: auto;
        font-size: 1.4rem;
    }

    .left-content img {
        width: 120px;
        margin-bottom: 20px;
    }

    /* PART 2 */
    .part2 {
        padding: 2vh 10vw 2vh 10vw;
    }
    .part2 h2 {
        font-size: 2rem;
    }

    .part2 p {
        font-size: 1.4rem;
    }

    /* PART 3 */
    .part3 h2 {
        font-size: 2rem;
    }

    .skill p {
        font-size: 1.4rem;
    }

    /* PART 4 */
    .part4 h2 {
        font-size: 2rem;
    }

    .part4 button {
        width: 80%;
        font-size: 1.4rem;
        margin: 10px 0;
    }

    /* PART 5 */
    .part5 h2 {
        font-size: 2rem;
    }

    .part5 p {
        font-size: 1.4rem;
    }

    .projects-display {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1.5rem;
        justify-items: center;
        align-items: center;
        padding: 2rem;
    }

    .left-skill,
    .right-skill {
        margin: 1.5vh 1.5vw 1.5vh 1.5vw
    }

    .skill-grid {
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }
}
